// Cores primárias
$primary-color: #007691; // Cor semelhante ao site
$secondary-color: #003350;
$accent-color: #bacf00; // Cor do menu

// Cores neutras
$white-color: #ffffff;
$light-gray: #f8f8f8;
$dark-gray: #222222;

// Outros
$header-bg-color: #ffffff;
$footer-bg-color: #003350;
$footer-text-color: #ffffff;
